h1
{
    text-align: center;
    font-size: 40px;
    color: goldenrod;
}
p
{
  text-align: center;
  color: red;
  font-size: 30px;
}
body
{
    background-color: lightgreen;
}
table, th, td {
  text-align: center;
  border: 1px solid darkblue;
  border-radius: 5px;
}